<ul>
  @foreach (var res in Model)
  {
      <li><a href=/res/@res.GetId()>@res.GetName()
      <ul>
        <li>@res.GetPrimaryKey()</li>
        @if(res.GetSecondaryKey() != "0")
        {
          <li>@res.GetSecondaryKey()</li>
        }
      </ul>
      </a></li>
  }
</ul>

<a href="/res/new"> ADD FOOD</a>
<a href="/res/search"> SEARCH FOR FINE CUISINE
